<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lists</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">


    <style>
        * {
            font-family: 'Sansita Swashed', cursive;
            font-size: xx-large;
            text-align: center;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(103, 103, 237, 1) 0%, rgba(0, 212, 255, 1) 100%);
        }

        img {
            border: 5px solid #555;
            border-radius: 37px;
        }

        li {
            color: hsl(0, 95, 99);
            background-color: rgba(2, 0, 36, 1);
        }
    </style>
</head>

<body>
    <center>
        <ul type="square">
            <img src="..//Assets/01.jpg" height="250px" width="250px">
            <li> P P Svani Special <strong>Pav Bhaji</strong> <br>	&#x20B9; 40</li> <br>
            <img src="..//Assets/02.jpg" height="250px" width="250px">
            <li> P P Svani Special <strong>Pani Puri</strong> <br> &#x20B9; 15 </li> <br>
            <img src="..//Assets/03.jpg" height="250px" width="250px">
            <li> P P Svani Special <strong>Locho</strong> <br>  &#x20B9; 45 </li> <br>
        </ul>
        <hr>
        <ol type="I">
            <img src="..//Assets/04.jpeg" height="250px" width="250px">
            <li> P P Svani Special <strong>Dhosa</strong> <br> &#x20B9; 70 </li> <br>
            <img src="..//Assets/05.jpg" height="250px" width="250px">
            <li> P P Svani Special <strong>Veg Frenkiy</strong> <br> &#x20B9; 40 </li> <br>
            <img src="..//Assets/06.jpeg" height="250px" width="250px">
            <li> P P Svani Special <strong>Veg Khausa</strong> <br> &#x20B9; 35  </li> <br>
        </ol>



    </center>


</body>

</html>