<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>P P Savani University</title>
  <style>
      .foot{
          width:97.470%;
          height: 400px;
         
          border: 10px solid black;
          background-image: url("h1.png");
          background-size: cover;
          text-align: center;
      }
      #jk{
          font-size:40px;
          color: white;
      }
  </style>
</head>
<body>
  <div class="header-1">
  
  <img src="\Assets/h1.png" alt="" sizes="" srcset="">

  </div>
  <div class="mid">
    <section  >
      <center>
        <table border="1" style="height: 196px; width: 97.470%; border-collapse: collapse; " height="196">
            <tbody>
            <tr>
            <td style="width: 100%;">
                <center>
                   <p><span style="background-color: #ffffff;"><img src="https://www.ppsu.ac.in/img/logo.png" alt="" width="200" height="70" />&nbsp; </span><span style="background-color: #ffffff;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Explore | Experience | Empower</span><span style="background-color: #ffffff;"></span></p>
            <p></p>  
                </center>
           
            </td>
            </tr>
            </tbody>
            </table>
      </center>
      
    </section>
  </div>
  <div class="foot">
      <section id="jk">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ffffff; background-color: #00ccff; border-radius: 12px;">School of <span style="color: #000000; background-color: #00ccff; border-radius: 12px;">Science</span> </span></h1>
        <h1>HAND BOOK AY: 2020-2021</h1>
        
      </section>
  </div>
</body>
</html>