<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Practical-001</title>
  <style>
    img {
  border: 5px solid #555;
  border-radius:37px ;
}
#sub_heading{
  text-decoration: solid;
  text-emphasis: none;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}
  </style>
  
</head>
<body>
  <div>
    
    <center>
      <h4 id="sub_heading">P P Savani Menu list</h4>
      <h1>Practical-01</h1><hr>
    </center>    
  </div>
  <div class="item">
    <center>
    
      <img src="01.jpg" height="200px" width="200px">
      <h2>P P Savani special Pav Bhaji</h2>
      <dl>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, animi quae! Rem, deleniti. Molestias, voluptate quas error aperiam pariatur neque.</dl>
      <hr align="center" size="3px" width="266px">
    </center><br>
  </div>
  <div class="item">
    <center>
    
      <img src="02.jpg" height="200px" width="200px">
      <h2>P P Savani special Pani Puri</h2>
      <dl>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero hic odio sequi officiis fugit cum ipsam asperiores recusandae quod? Quaerat!</dl>
      <hr align="center" size="3px" width="266px">
    </center><br>
  </div>
  <div class="item">
    <center>
    
      <img src="03.jpg" height="200px" width="200px">
      <h2>P P Savani special Locho</h2>
      <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ab sit optio perferendis delectus doloremque tenetur itaque ut error numquam.</dd>
      <dl>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolorum delectus ab quaerat dicta, fuga asperiores repellendus itaque iusto non?</dl>
      <hr align="center" size="3px" width="266px">
    </center><br>
  </div>
  <div class="item">
    <center>
    
      <img src="04.jpeg" height="200px" width="200px">
      <h2>P P Savani special Mysore</h2>
      <dl>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, obcaecati quo laborum dolore nisi aliquam? Delectus odit quia accusantium aspernatur?</dl>
      <hr align="center" size="3px" width="266px">
    </center><br>
  </div>

  <div>
    <center> <video width="320" height="240" controls>
      <source src="01.mp4" type="video/mp4">
      
    </video></center>
   
  </div>
</body>
</html>
