<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lists</title>
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&family=Syne+Tactile&display=swap" rel="stylesheet">

    <style>
        *{
            font-family: 'Henny Penny', cursive;
            font-family: 'Syne Tactile', cursive;
            font-size: xx-large;
            text-align: center;
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,103,237,1) 0%, rgba(0,212,255,1) 100%);
        }
        img {
        border: 5px solid #555;
        border-radius:37px ;}
        li{
            color:hsl(0, 95, 99);
            background-color: rgba(2,0,36,1);
        }
       
    </style>
</head>
<body>
    <!-- <ul type="square">
        <img src="01.jpg" height="100px" width="100px">
        <li>This is first item of unordered list  <strong>Pav Bhaji</strong></li>
     <img src="02.jpg" height="100px" width="100px">
        <li>This is second item of unordered list  <strong>Pani Puri</strong></li>
        <img src="03.jpg" height="100px" width="100px">
        <li>This is third item of unordered list <strong>Locho</strong> </li>
    </ul>
    <hr>
    <ol type="I">
        <img src="01.jpg" height="100px" width="100px">
        <li>This is first item of ordered list  <strong>Pav Bhaji</strong></li>
        <img src="02.jpg" height="100px" width="100px">
        <li>This is second item of ordered list  <strong>Pani Puri</strong></li>
        <img src="03.jpg" height="100px" width="100px">
        <li>This is third item of ordered list <strong>Locho</strong> </li>
    </ol>

    <div>
        <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/phgYsEIjC-c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center><br>
    </div> -->
    <div>
        <center>
            <h3>Text Area</h3>
            <textarea rows="10" cols="50">
                Text Here !
            </textarea>
        </center>
        
    </div>
    <div>
        <center>
            
        </center>
    </div>
</body>
</html>
