<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">

    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Lobster&display=swap" rel="stylesheet">
    <title>Product-01</title>
</head>

<body>
    <div class="product">

        <header>
            <hgroup>
                <h1>Apple MacBook pro</h1>
                <h4>The most amazing Laptop yet.</h4>
            </hgroup>
        </header>

        <figure>
            <img src="222579-4.webp">
        </figure>
        <section>

            
            <h2>Specifications</h2>
            <ul>
                <li>Super perfomance with 16GB RAM</li>
                <li>Powerful Processor Intel core i9</li>
                <li>Large storage capacity 1TB SSD</li>
                <li>Video perfomance with 4GB graphics</li>
                <li>Retina display</li>
                <li>Space Grey</li>
            </ul>

            <button>Check out</button>

        </section>
    </div>
</body>

</html>