<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li{
            color: antiquewhite;
            font-size: 31.5px;
        }
        strong{
            color: aqua;
        }
    </style>
</head>
<body bgcolor="black">
    <ul>
        <li><strong>Name:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;</strong> Ruvel Katrodiya</li>
        <li><strong>Nick name:&emsp;&emsp;&emsp;&emsp;&nbsp; </strong> Jenil</li>
        <li><strong>Date of Birth:&emsp;&emsp;&ensp;&ensp; </strong> 2nd June 2003</li>
        <li><strong>Address:&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</strong> 119, ganga jamna society, surat</li>
        <li><strong>University:&emsp;&emsp;&emsp;&ensp;&ensp;&nbsp; </strong> P P savani University, Surat </li>
        <li><strong>10th Qualification: &nbsp; </strong> 83.67% and 96.92PR</li>
        <li><strong>12th Qualification: &nbsp; </strong> 72.80% and 83.72PR</li>
        <li><strong>Qualification:&emsp;&emsp;&emsp; </strong> Msc.IT (SVNIT Surat)</li>
        <li><strong>Other:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp; </strong>Young member of India's globle AI summit</li>
        <li><strong>Certificate:&emsp;&emsp;&emsp;&emsp; </strong> <a href="C1.pdf"> Machine Intelligence NIT Silchar</a></li>


    </ul>
    
</body>
</html>